* {
    box-sizing: border-box;
}
.navbar-dark a.navbar-brand{
    color: cyan;
}
.navbar-dark .navbar-nav a.nav-link {
    color: cyan;
    text-align: center;
}
.navbar-dark button.navbar-toggler {
    border: 2px solid cyan;
}
.navbar-dark button.navbar-toggler:hover{
    border:2px solid darkcyan;
}

hr {
    background-color: cyan;
    align-content: center;
    width: 75%;
}
h1 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
}
.container-fluid{
    background-color: lightgray;
}
h4{
    text-align: center;
}
.box {
    padding: 10px;
background-color: cadetblue;
}
.container-fluid div.col-lg-4 {
    padding: 8px;
}
.container-fluid div.col-lg-4 a {
    color: chartreuse;
    padding-left: 8px;
}